body {
  background-image: url('./image/aaaa.avif');
  background-repeat: no-repeat;
  background-size: cover;


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#HomepageHeader {
background-color:tan;

}

#HomepageTitle {
  padding-left: 38rem;
  color: black;
}

#company {
  text-align: center;

}
#comBTN {
  color: red;
  font-size: xx-large;
  margin-top: 15rem;
  padding-top: 2rem;
  padding-left: 2rem;
text-align: center;
  box-sizing: content-box;

  
}
#company-input-form {
  text-align: center;
  padding-top: 5rem;
}

#submit-btn {
  color:white;
  background-color: red;
}
#companyHeader {
  font-size: 300%;
  text-align: center;
  color: green;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

#newEmployeeForm {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}


